<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Books</title>
</head>
<body>
<div class="container">
    <div th:insert="fragments/navbar.html"></div>

    <div class="jumbotron">
        <h3>Books</h3>
        <table class="table table-striped">
            <thead class="thead-dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Author</th>
                <th scope="col">Title</th>
                <th scope="col">Is Borrowed</th>
                <th scope="col">Borrow Start Date</th>
                <th scope="col">Borrow End Date</th>
            </tr>
            </thead>
            <tbody>

            <tr th:each="item : ${books}">
                <td th:text="${item.id}"></td>
                <td th:text="${item.author}"></td>
                <td th:text="${item.title}"></td>
                <td th:text="${item.isBorrowed}"></td>
                <td th:text="${item.startDateOfBorrowing}"></td>
                <td th:text="${item.endDateOfBorrowing}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>


</body>
</html>